.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 10em;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.05);
  background-color: white;
  z-index: 2;
}

.navLinks {
  padding-left: 2em;
  text-decoration: none;
  font-size: larger;
  background-color: white;
}

.navLinks:hover {
  color: gray;
}

.navContainer {
  background-color: white;
}
